$font-family-sans-serif = "franklin-gothic-urw", sans-serif
$font-family-serif = "freight-text-pro", serif
$font-family-display = "freight-display-pro", serif

$navbar-default-color = #6A6C6B
$navbar-default-link-disabled-color = tint($navbar-default-color, 50%)
$navbar-default-bg = #FED43A
$navbar-default-border = none
$navbar-default-link-hover-color = inherits
$navbar-default-link-active-bg = darken($navbar-default-bg, 10%)

$font-size-base = 12px
// $font-family-base = $font-franklin

$negatived = #D52220
$passed = #417505
$abstain = #aaa
$separator = 1px #DDDDDD solid
