@import './variables'

@import 'nib'
@import 'node_modules/bootstrap-stylus/stylus/bootstrap'

// Disable responsiveness
.container
  width 1200px !important

#content
  position relative

@import 'app/views/*'
