#motion-sidebar
  margin 0 15px

  #motion-scroll-container
    overflow-y auto
    height 600px

  .list-container
    font-family $font-family-serif

    h4
      font-weight bold
      font-family $font-family-display

      span
        font-family $font-family-sans-serif
        font-size $font-size-base * 0.9
        color #9B9B9B

    ul
      margin-left 16px
      padding 0

      p
        font-size $font-size-base * 1.1
      a
        color black
