.navbar.navbar-default(role='navigation')
  .container
    .navbar-header.col-xs-3
      a.navbar-brand Inside Hong Kong LegCo
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active: a(href='#') Browse Motions
        li.disabled: a(href='#') Browse Members
        li.disabled: a(href='#') Members Affinity
        li: a(href='#about') About
